.nameLabel {
    -fx-font-size: 12px;
    -fx-font-weight: normal;
    -fx-text-fill: black;
}

.sizeLabel {
    -fx-font-size: 12px;
    -fx-font-weight: 500;
    -fx-text-fill: #333333;
}

.obox {
    -fx-border-width: 1px;
    -fx-border-color: grey;
    -fx-padding: 8px;
}

.nbox {
    -fx-border-width: 1px;
    -fx-border-color: grey;
    -fx-padding: 8px;
}

#tipLabel {
    -fx-text-fill: black;
    -fx-font-size: 18px;
}